/* .navbar-fixed-top {
  background-color: black;
  min-height: 120px;
} */

/* #navbarBrand {
  width: 234px;
  position: fixed;
  left: 50px;
} */

/* .navbar-nav > li > a {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 0px;
  line-height: 80px;
} */

.dropdown-menu {
  background-color: black;
  border-bottom-left-radius: 50px;
}
.navbar-inverse {
  border-bottom-left-radius: 50px;
}
.dropdown-menu > li > a {
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a,
.dropdown-menu > li > a {
  text-align: right;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
  color: #be1e55;
  background-color: black;
}
.activeNav > a {
  color: #be1e55 !important;
  border-left: 2px solid #be1e55;
  border-right: 2px solid #be1e55;
  text-shadow: 1px 1px rgb(182, 182, 182);
  
  animation: activeNav 0.8s 1;
}

.dropdown-menu::before,
.dropdown-menu::after {
  border: none;
  content: none;
}

.pageBanner {
  width: 100%;
  height: 295px;
  background-image: url("http://res.cloudinary.com/moshmosh/image/upload/v1504600903/beatmix/825.jpg");
}

.googlemaps {
  border-radius: 0;
}

hr {
  background-color: #be1e55;
}

.pageHeaders {
  color: #be1e55;
  font-size: 50px;
}

.whiteTxt {
  color: white;
  font-size: 20px;
}

.formSubmitBtn {
  /* background-color: #be1e55; */
  /* color: #be1e55; */
  font-weight: bold;
  font-size: 30px;
  width: 100px;
  height: 50px;
  border-radius: 0;
}
.show-grid {
  padding-top: 10px;
}

label {
  display: block;
  width: x;
  height: y;
  text-align: right;
}

input[type="text"],
input[type="email"],
#content {
  text-align: right;
  color: black;
  font-size: 25px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  border-radius: 0;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"],
input[type="email"] {
  /* width: 450px; */
  height: 40px;
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="email"]:focus,
input[type="email"].focus,
#content:focus,
#content.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

::-webkit-input-placeholder {
  font-weight: bold !important;
  color: black !important;
  font-size: 30px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: bold;
  color: black;
  font-size: 30px !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: bold;
  color: black;
  font-size: 30px !important;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  /* height: -webkit-fill-available;  */
  height: 900px;
  /* background-attachment: no-repeat center center fixed; */
}

/*starting animatiom*/
.fade-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
}

.parraSlider {
  background-size: 100vw !important;
  z-index: -1;
}
.intro-image {
  color: white !important;
  margin-top: 18px;
}

.intro-talk {
  color: #FFFFFF;
  text-align: right;
  font-family: 'Suez One', serif;
}
.intro-talk > p{
  font-size: 21px;
  font-family: 'Secular One', serif;
}

.intro {
  color: white;
}
.intro-image {
  transition: all 0.5s ease-in-out;
}
.intro-image:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 1px;
  box-shadow: 0 8px 16px 0 rgb(194, 194, 194);
}
.footer {
  color: black;
  text-align: center;
}

.carousel-enter {
  opacity: 0.01;
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.homeImageLinks {
  text-align: center;
  height: 376px;
}

.intro-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer {
  color: white;
}

.hide {
  display: none;
}

.hider {
  background: black;
  border-radius: 2%;
  height: 366px;
  position: fixed;
  left: 0px;
  top: 100px;
  border: 2px solid #be1e55;
  z-index: 1;
}

.show {
  width: 255px;
  background: black;
  border-radius: 2%;
  height: 260px;
  position: fixed;
  left: 0px;
  top: 100px;
  border: 2px solid #be1e55;
  z-index: 1;
}

body {
  background: url("https://wallpapercave.com/wp/LRxGqsU.jpg") center;
  padding-top: 100px;
  font-family: Arimo;
}

.popup {
  display: inline-block;
}

.fb-comment {
  padding-top: 70px;
}
.logo {
  height: 100px;
}
@media only screen and (min-width: 769px) {
  .navbar {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .popOut-div,
  .popOut,
  .hideOnMobile {
    display: none;
  }

  .mobileNum {
    font-size: 20px !important;
  }
  .navbar {
    font-size: 25px;
  }
}

 .popOut {
  width: 244px;
  height: 71px;
  border-radius: 100px;
  background: #141414;
  border: 2px solid #be1e55;
  position: fixed;
  top: 114px;
  left: 7px;
  text-align: center;
  z-index: 20;
  color: #be1e55;
}

.popOut:hover {
  cursor: pointer;
  color: black;
  border: 2px solid black;
  animation: mymove 0.6s infinite;
}

.popOutActive {
  width: 244px;
  height: 471px;
  border-radius: 10px;
  background: #141414;
  border: 2px solid #be1e55;
  position: fixed;
  top: 114px;
  left: 7px;
  text-align: center;
  z-index: 20;
  color: #be1e55;
  animation: open 1s 1;
}
.closePopup:hover {
  cursor: pointer;
}
.popOutForm {
  text-align: "center";
  font-size: "15px";
}

.popOutForm::-webkit-input-placeholder {
  text-align: right;
  font-weight: bold !important;
  color: black !important;
  font-size: 18px !important;
}

@keyframes activeNav {
  0% {
    text-shadow: 0px 0px rgb(0, 0, 0);
    /* border-left: 2px solid #000000;
    border-right: 2px solid #000000; */
  }

  100% {
    text-shadow: 1px 1px rgb(182, 182, 182);
    /* border-left: 2px solid #be1e55;
    border-right: 2px solid #be1e55; */
  }
}

@keyframes open {
  0% {
    top: 114px;
    left: 7px;
    background: #be1e55;
    width: 244px;
    height: 71px;
    border-radius: 100px;
  }
  100% {
    top: 114px;
    left: 7px;
    background: #141414;
    width: 244px;
    height: 471px;
  }
}
@keyframes mymove {
  0% {
    top: 114px;
    left: 7px;
    background: #be1e55;
    width: 244px;
    height: 71px;
  }
  50% {
    top: 114px;
    left: 2px;
    background: #be1e55;
    width: 254px;
    height: 71px;
  }
  100% {
    top: 114px;
    left: 7px;
    background: #be1e55;
    width: 244px;
    height: 71px;
  }
}

/** artistPage! **/
.artistPage {
  background: black;
}
/* artists page carousell */

@media only screen and (max-width: 991px) {
  .artists-carousel-container {
    display: none;
  }
  .artists-carousel {
    display: none;
  }
  .item {
    display: none;
  }
  .newNextImg, .newPrevImg {
    display: none;
  }
  .mobile-artists {
    display: inline-block !important;
    
  }
  .tom {
    margin-left: 16px;
    margin-bottom: 50px;
    width: 80vw;
  }

}

.carousel-row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 1px;
  display: block;
  padding-bottom: 18px;
}
.newNextImg {
  height: 141px;
  position: absolute;
  top: 729px;
  left: 72vw;
  cursor: pointer;
}
.newPrevImg {
  height: 141px;
  position: absolute;
  top: 729px;
  left: 16vw;
  cursor: pointer;
}
.newPrevImg:hover, .newNextImg:hover {
  margin-top: -3px;
  transition: 0.3s;
  -webkit-filter: drop-shadow(7px 5px 5px rgb(255, 255, 255));
  filter:         drop-shadow(7px 5px 5px rgb(255, 255, 255));
}
.newPrevImg:active, .newNextImg:active {
  margin-top: 1px;
  transition: 0.2s;
  -webkit-filter: drop-shadow(7px 5px 5px rgb(137, 137, 137));
  filter:         drop-shadow(7px 5px 5px rgb(137, 137, 137));
}
.artists-carousel-container {
  padding-top: 120px;
  padding-bottom: 100px;
  margin: 0 auto;
  width: 500px;
  height: 620px;
  position: relative;
  perspective: 1000px;
}

.artists-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 500px;
  height: 320px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
  padding-top: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(300px);
  background: url("http://res.cloudinary.com/beat-mix/image/upload/v1507033627/tom_yfcnbs.png")
    no-repeat center center;
  background-size: contain;
}

.b {
  transform: rotateY(120deg) translateZ(250px);
  background: url("http://res.cloudinary.com/beat-mix/image/upload/v1507033621/Artists/hadar_wc5dn1.png")
    no-repeat center center;
  background-size: contain;
}

.c {
  transform: rotateY(240deg) translateZ(250px);
  background: url("http://res.cloudinary.com/beat-mix/image/upload/v1507033628/Artists/amit_k29bsl.png")
    no-repeat center center;
  background-size: contain;
}
