.navbar-fixed-top {
    min-height: 120px;
}

.navbar-nav > li > a {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

#navbarBrand {
        width: 234px;
    position: fixed;
    left: 50px;
}

body {
    padding-top: 120px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
   /* height: -webkit-fill-available;  */
    height: 900px; 
   /* background-attachment: no-repeat center center fixed; */
}


/*starting animatiom*/
.fade-enter {
    right: 100px;
}

.fade-enter-active {
    right: 0px;
}