.navbar-fixed-top {
    min-height: 120px;
}

.navbar-nav > li > a {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

#navbarBrand {
        width: 234px;
    position: fixed;
    left: 50px;
}